/* style.css */

body {
    margin: 0;
    padding: 0;
    background-color: #343a40;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 15px;
}

.navbar {
    background-color: black;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 10px; /* Adjusted padding for smaller screens */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 5px; /* Adjusted margin for smaller screens */
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: lightgrey;
}

.brand {
    margin-right: auto;
}

.navbar-links {
    margin-left: auto;
    display: flex;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Added transition for smooth animation */
}
@media screen and (min-width: 768px) {
    .mobile-nav-container { display: none; }
}

@media screen and (max-width: 767px) {
    .navbar.desktop { display: none; }
}

#mobile-trigger.active {
    font-weight: bold;
}

#mobile-nav-panel {
    display: none;
    background: white;
}
        
#mobile-nav-panel.active {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
}

.navbar-links.expanded {
    max-height: 200px; /* Adjust the maximum height as needed */
}

.container {
    margin-top: 20px;
}


#diceRollerPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #292d32;
    padding: 20px;
    border: 1px solid #ccc;
}

#diceRollerPopup input {
    width: 100%; /* Adjusted width for better responsiveness */
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}

#diceRollerBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #292d32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#diceRollerBtn:hover {
    background-color: #565e64;
}

.alert-container {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    z-index: 1000;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.alert-success {
    background-color: #28a745;
    color: #fff;
}

.alert-danger {
    background-color: #dc3545;
    color: #fff;
}

.alert-warning {
    background-color: #ffc107;
    color: #000;
}

.alert-info {
    background-color: #17a2b8;
    color: #fff;
}

/* Added styles for the profile button */
.profile-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #292d32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.profile-button:hover {
    background-color: #565e64;
}