<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Master's Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="desktop navbar">
        <!-- <span class="navbar-icon" onclick="toggleNavbar()">☰</span> -->
        <div class="navbar-links" id="navbarLinks">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('worlds') }}">Worlds</a>
            <a href="{{ url_for('character_list') }}">Characters</a>
            <a href="{{ url_for('plots') }}">Plots</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="mobile-nav-container">
        <div class="navbar">
            <span id="mobile-trigger" class="navbar-icon">☰</span>
        </div>
    </div>
    <div id="mobile-nav-panel">
        <span id="mobile-exit" class="navbar-icon">X</span>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('worlds') }}">Worlds</a></li>
            <li><a href="{{ url_for('character_list') }}">Characters</a></li>
            <li><a href="{{ url_for('plots') }}">Plots</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>    

    <!-- Flash Messages -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Profile Button -->
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile') }}" class="profile-button">{{ current_user.username }}'s Profile</a>
    {% endif %}

    <!-- Include the diceRoller.html content -->
    {% include 'diceRoller.html' %}

    <!-- Include the diceRoller.js script -->
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/diceRoller.js') }}"></script>
    <!-- custom shiz -->
    <script>
        function openPanel() {
            jQuery('#mobile-trigger').addClass('active');
            jQuery('#mobile-nav-panel').addClass('active');
        }
        function closePanel() {
            if (jQuery('#mobile-nav-panel').hasClass('active')) {
                jQuery('#mobile-nav-panel').removeClass('active');
            }
        }
        jQuery('#mobile-trigger').on('click', function(e) {
            jQuery(this).toggleClass('active');
            if (jQuery('#mobile-nav-panel').hasClass('active')) {
                closePanel();
            } else {
               openPanel();
            }
        })
        jQuery('#mobile-exit').on('click', function(e) {
            closePanel();
        })
    </script>
    
</body>
</html>