<h1>Character List</h1>
{% extends "base.html" %}

{% block content %}
    <div class="character_container">
        <ul class="character-list">
            {% for character in characters %}
                <li>
                    <a href="{{ url_for('character_detail', character_id=character.id) }}">{{ character.name }}</a>
                    <!-- Button for removing the character -->
                    <form method="post" action="{{ url_for('remove_character', character_id=character.id) }}" style="display: inline-block;" onsubmit="return confirm('Are you sure you want to remove this character?');">
                        <button type="submit">Remove Character</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <form class="add-character-form" method="post" action="{{ url_for('add_character') }}">
            <label for="new_character_name">New Character Name:</label>
            {% if name %}
                <input type="text" value="{{name}}" id="new_character_name" name="new_character_name" required>
            {% else %}
                <input type="text" id="new_character_name" name="new_character_name" required>
            {% endif %}
            <br>
            <label for="world_id">Select World:</label>
            <select id="world_id" name="world_id">
                <option value="" selected>Not associated with any world</option>
                {% for world in worlds %}
                    {% if current_world and world.id == current_world.id %}
                        <option value={{world.id}} selected="true">
                    {% else %}
                        <option value={{world.id}}>
                    {% endif %}
                        {{world.name}}
                        </option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" name="add">Add Character</button>
        </form>
        <form class="random-name-form" method="post" action="{{ url_for('random_name') }}">
            <p>Looking for name ideas?</p>
            <select id="race" name="race">
                {% for race in races %}
                    <option value="{{race}}">{{race}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="random-name-button">Click Here!</button>
        </form>
    </div>

{% endblock %}
