<h1>Welcome to Dungeon Master's Companion!</h1>
{% extends 'base.html' %}

{% block title %}Home - Dungeon Master's Companion{% endblock %}

{% block content %}
    <!-- Add more content as needed -->
    <div class="homepage-container">
        <div class="homepage_greeting">
            <h3>🛡️ Welcome to the Dungeon Master's Companion!</h3>
            <p>🗡️Embark on a journey of limitless creativity and storytelling with our all-in-one platform designed for Dungeon Masters like you.
                <br>✨ Create Worlds and Characters: Craft immersive realms and breathe life into unique characters with our intuitive tools. Build the landscapes, populate cities, and give birth to epic tales.
                <br>📖 Plot Point Tracker: Never lose a story thread again! Seamlessly organize and manage plot points to keep your narratives on track. Your epic saga, your way.
                <br>🎲 Virtual Dice Roller: Take chance into your hands (virtually, of course) with our built-in dice roller. From critical hits to unexpected twists, let the dice decide the fate of your adventures.
                <br>Ready to unleash your creativity? Dive into the Dungeon Master's Companion and watch your worlds come to life.
            </p>
        </div>
    </div>
{% endblock %}

