
<h1>Plots</h1>
{% extends 'base.html' %}

{% block content %}
    <div class="plots_container">
        <h2>
            {% if current_world %}
                {{current_world.name}} Plots
            {% else %}
                Please Select World
            {% endif %}
        </h2>
        <form action="/plots" class="select_world_form" method="post">
            <select name="select_world">
                {% for world in worlds %}
                    {% if current_world and world.id == current_world.id %}
                        <option value={{world.id}} selected="true">
                    {% else %}
                        <option value={{world.id}}>
                    {% endif %}
                        {{world.name}}
                        </option>
                {% endfor %}
            </select>
            <button type="submit"></button>
        </form>
        {% if current_world %}
            <form class="plots_data" action="/update_plot_data/{{current_world.id}}" method="post">
                <label>Main Quests</label>
                <br>
                <input type="text" id="main_quests" name="main_quests">
                <button type="submit" id="submit_main_quests" name="submit_main_quests">Submit</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
