<!-- plots.html -->
<h1>Plots</h1>
{% extends 'base.html' %}

{% block content %}
    <div class="plots_container">
        <form class="main_quest_form" method="post">
            {{ main_quest_form.hidden_tag() }}
            <label>Main Quests:</label>
            <br>
            {{ main_quest_form.main_quests() }}
            <button type="submit">Save</button>
        </form>

        <form class="side_quest_form" method="post">
            {{ side_quest_form.hidden_tag() }}
            <label>Side Quests:</label>
            <br>
            {{ side_quest_form.side_quests() }}
            <button type="submit">Save</button>
        </form>

        <form class="plot_hooks_form" method="post">
            {{ plot_hooks_form.hidden_tag() }}
            <label>Plot Hooks:</label>
            <br>
            {{ plot_hooks_form.plot_hooks() }}
            <button type="submit">Save</button>
        </form>

        <form class="character_quests_form" method="post">
            {{ character_quests_form.hidden_tag() }}
            <label>Character Quests:</label>
            <br>
            {{ character_quests_form.character_quests() }}
            <button type="submit">Save</button>
        </form>

        <form class="fun_twists_form" method="post">
            {{ fun_twists_form.hidden_tag() }}
            <label>Fun Twists:</label>
            <br>
            {{ fun_twists_form.fun_twists() }}
            <button type="submit">Save</button>
        </form>

        <form class="big_bad_evil_guy_form" method="post">
            {{ big_bad_evil_guy_form.hidden_tag() }}
            <label>Big Bad Evil Guy:</label>
            <br>
            {{ big_bad_evil_guy_form.big_bad_evil_guy() }}
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}
