<!-- profile.html -->
<h1>Profile</h1>
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Edit Profile</h3>
    <form method="post" action="{{ url_for('profile') }}" class="edit-form">
        {{ change_profile_form.current_user.label}}
        {{ change_profile_form.current_user(class="form-control") }}
        {{ change_profile_form.new_username.label}}
        {{ change_profile_form.new_username(class="form-control") }}
        {{ change_profile_form.hidden_tag() }}
        {{ change_profile_form.current_password.label }}
        {{ change_profile_form.current_password(class="form-control") }}
        {{ change_profile_form.new_password.label }}
        {{ change_profile_form.new_password(class="form-control") }}
        {{ change_profile_form.confirm_new_password.label }}
        {{ change_profile_form.confirm_new_password(class="form-control") }}
        {{ change_profile_form.submit(class="add-character-form-button") }}
    </form>
</div>

{% endblock %}

