<h1>Worlds</h1>
{% extends "base.html" %}

{% block content %}
    <div class="world_container">
        <!-- List of worlds with links to their details page -->
        <ul>
            {% for world in worlds %}
                <li>
                    <form method="post" action="{{ url_for('remove_world', world_id=world.id) }}" style="display: inline-block;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this world?');">X</button>
                    </form>
                    <a href="{{ url_for('world_detail', world_id=world.id) }}">{{ world.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Form for adding a new world -->
        <form class="add-world-form" method="post" action="{{ url_for('add_world') }}">
            <label for="new_world_name">Create New World:</label>
            <input type="text" id="new_world_name" name="new_world_name" placeholder="Enter World Name" required>
            <br>
            <!-- Add more input fields for additional information -->
            <button type="submit" name="add">Add World</button>
        </form>
    </div>
{% endblock %}